/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */

:root {
    /* Scroll-behavior not working with overflow-y: scroll */
    scroll-behavior: smooth;

    --confirmation-color: #61b15a;
}

body {
    background-color: red;
}

#navbar {
    padding: 1rem;
}

nav li {
    padding: 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

#main-content {
    display: flex;

    background-color: azure;
}

#navbar {
    background-color: var(--confirmation-color);

    flex: none;
    width: 15rem;
}

#main-doc {
    background-color: yellow;

    overflow-y: scroll;
    height: 80vh;

    padding: 3rem;
}

#main-doc p {
    padding: 1rem;

    text-indent: 2rem;
    line-height: 1.5rem;
}

.main-section header {
    padding: 2rem;

    font-weight: bold;
}

#footer {
    background-color: burlywood;

    height: 20vh;
}
