/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */

:root {
    scroll-behavior: smooth;

    --confirmation-color: #61b15a;
}

body {
    background-color: red;
}

#navbar {
    padding: 1rem;
}

nav li {
    padding: 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

#main-content {
    display: flex;

    background-color: azure;
}

#navbar {
    background-color: var(--confirmation-color);

    flex: none;
    width: 15rem;
}

#main-doc {
    background-color: yellow;

    /* Had to set scroll-behavior here, instead of :root, body or html. Seems overflow-y was overwriting it or something. */
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 90vh;

    padding: 3rem;
}

#main-doc p {
    padding: 1rem;

    text-indent: 2rem;
    line-height: 1.5rem;
}

.main-section header {
    padding: 2rem;

    font-weight: bold;
}

#footer {
    background-color: burlywood;

    height: 10vh;
}

/* I really gotta work more my media queries skills. */

@media (max-width: 736px) {
    #navbar {
        display: none;
    }
}
